.header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 68px;
  padding-right: 20px;
  &_close {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url("../../assets/svg/close.svg") center no-repeat no-repeat;
    &:hover {
      transform: scale(1.3);
    }
  }
  &_hide {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url("../../assets/svg/hide.svg") center no-repeat no-repeat;
    &:hover {
      transform: scale(1.3);
    }
  }
}
